# System related
build
gcsfs
pyyaml
# Scipy stack
numpy
matplotlib
pandas
# Deep learning
torch
torchvision
tensorboard
# Data processing
apache-beam[gcp,docs,test,dataframe]
# Others
tqdm
# Testing
pytest
pytest-cov
pytest-mock
# Formatiing, linting
mypy
pylint
black
isort